// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.outer_container {
  width: 100%;
}

.inner_container {
  width: 960px;
  margin: 0 auto;
  padding: 2em 0;
  overflow: auto;
  position: relative;
}

header.outer_container {
  border-bottom: 1px solid #ddd;
  background-image: image-url("paisley.png");
}

h1, h2 {
  display: inline-block;
  color: #555;
  text-shadow: 2px 2px 3px #ccc;
  background: rgba(255,255,255,0.5);
  border: 1px solid rgba(0,0,0,0.2)
}

h1 {
  font-size: 4.5em;
  margin: 40px 0 0;
  padding: 10px 20px;
  letter-spacing: -2px;
}

h2 {
  font-size: 2em;
  margin: 80px 0 0;
  padding: 12px 16px;
  letter-spacing: -1px;
}

a.btn,
button {
  display: inline-block;
  padding: .75em 1.5em;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;
  border-radius: 2px;
  color: #ffffff;
  border: 0;
  outline: none;
}

a.btn.green,
button.green {
  background: #4D9A6A;
}

a.btn.blue,
button.blue {
  background: #4E648E;
}

a.btn.red,
button.red {
  background: #D3696C;
}

.topright {
  position: absolute;
  top: 30px;
  right: 0;
}

div.field {
  margin: 0.25em 0;
  padding: 10px 0;
  box-sizing: border-box;
  margin: 0;
  float: left;
}

div.textbox {
  width: 320px;
}

div.textarea {
  width: 960px;
}

div.field.button {
  margin: 0 0 0 4px;
  padding: 0;
}

div.field label {
  display: block;
  font-weight: bold;
  margin: 0 4px;
}


div.textbox input,
div.textarea textarea {
  padding: 10px;
  margin: 0 4px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 12pt;
}

div.textbox input:focus,
div.textarea textarea:focus {
  border: 1px solid #555;
}

div.textbox input {
  width: 290px;
}

div.textarea textarea {
  width: 930px;
  height: 160px;
  resize: none;
}

div.field.buttons {
  margin: 0 0 0 4px;
  padding: 0;
}

article.description {
  box-sizing: border-box;
  width: 540px;
  float: left;
}

div.image {
  box-sizing: border-box;
  width: 420px;
  float: right;
  text-align: right;
}

div.image img {
  box-sizing: border-box;
  padding: 10px;
  max-width: 420px;
  border: 1px solid #ccc;
}

ul.pictures {
  list-style: none;
  padding: 0;
}

ul.pictures li {
  padding: 4px 0;
  overflow: auto;
  line-height: 60px;
}

ul.pictures li a {
  // padding: 7px;
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  color: #777;
  border-radius: 100px;
  height: 60px;
  text-transform: uppercase;
  font-size: 10pt;
  font-weight: bold;
}

ul.pictures li a:hover {
  background: #f6f6f6;
  color: rgb(78, 100, 142);
}

ul.pictures li a div.thumbnail {
  float: left;
  margin-right: 8px;
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 100%;
  border: 5px solid rgba(85, 85, 85, 0.1);
}

ul.pictures li a:hover div.thumbnail {
  border: 5px solid rgba(78, 100, 142, 0.8);
}

ul.pictures li div.thumbnail img {
  max-height: 100%;
  margin: 0 auto;
}
