<ul class="pictures">
  <% @images.each do |image| %>
  <li>
    <a href="/images/<%= image.id %>">
      <div class="thumbnail">
        <%= image_tag image.url, alt: image.title %>
      </div>

      <%= image.title %>
    </a>
  </li>
  <% end %>
</ul>